<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="logic.Company" alias="Company"/>
		<typeAlias type="logic.Job" alias="Job"/>
		<typeAlias type="logic.CV" alias="CV"/>
		<typeAlias type="logic.Pickuser" alias="Pickuser"/>
		<typeAlias type="logic.User" alias="User"/>
	</typeAliases>
	<mappers>
		<mapper resource="dao/mapper/Company.xml"/>
		<mapper resource="dao/mapper/Job.xml"/>
		<mapper resource="dao/mapper/CV.xml"/>
		<mapper resource="dao/mapper/Pickuser.xml"/>
		<mapper resource="dao/mapper/User.xml"/>
	</mappers>
</configuration>