<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:p="http://www.springframework.org/schema/p"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xmlns:websocket="http://www.springframework.org/schema/websocket"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
	   http://www.springframework.org/schema/beans/spring-beans.xsd
	   http://www.springframework.org/schema/context
	   http://www.springframework.org/schema/context/spring-context.xsd
	   http://www.springframework.org/schema/aop
	   http://www.springframework.org/schema/aop/spring-aop.xsd
	   http://www.springframework.org/schema/websocket
	   http://www.springframework.org/schema/websocket/spring-websocket-4.1.xsd
	   http://www.springframework.org/schema/mvc
	   http://www.springframework.org/schema/mvc/spring-mvc.xsd">
	   <context:component-scan base-package="controller,logic,dao,aop"/>
	   <mvc:annotation-driven/>
	   <aop:aspectj-autoproxy/> 
	   
	   <!-- ControllerClassNameHandlerMapping 
	   -> http://localhost:8080/shop3/item/list.shop 로 요청이 들어왔을 때, item 전의 path는 무시하고 뒤에 부분만
	   		인식하여 매핑해주어야 한다.
	   -> item/list.shop : Controller 중 ItemController 클래스를 알아서 검색함.  
	    				@RequestMapping("item/list") 인 메서드 선택 -->
	   <bean class="org.springframework.web.servlet.mvc.support.ControllerClassNameHandlerMapping"/>
	   <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
	   		<property name="viewClass">
	   			<value>org.springframework.web.servlet.view.JstlView</value>
	   		</property>
	   		<!-- jsp앞의 이름만 가져오고 그 위치는 /WEB-INF/view/ 이고, 가져온 후 .jsp를 붙여준다.-->
	   		<property name="prefix"><value>/WEB-INF/view/</value></property>
	   		<property name="suffix"><value>.jsp</value></property>
	   </bean>
	   <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		   <property name="basenames"><list>
		   		<!-- messages.properties 를 찾기 전 ko_KR 지역코드 먼저 찾음. (messages_ko_KR.properties)-->
		   		<value>messages</value></list>
		   </property>
	   </bean>
	   <!-- 파일 업로드 설정   -->
	   <bean id="multipartResolver" 
	   		class="org.springframework.web.multipart.commons.CommonsMultipartResolver" 
	   		p:maxUploadSize="104857600" p:maxInMemorySize="10485760">
	   </bean>
	   <!-- 예외 처리 설정  -->
	   <bean id="exceptionHandler" class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
	   		<property name="exceptionMappings">
	   			<!-- exception.jsp 로 이동해라. -->
	   			<value>exception.CartEmptyException=exception
	   				exception.LogInException=exception</value>
	   		</property>
	   </bean>
	   <bean id="echoHandler" class="websocket.EchoHandler"/>
	   <websocket:handlers>
	   		<websocket:mapping handler="echoHandler" path="/chatting.shop"/>
	   </websocket:handlers>
</beans>